*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle / Compose
build/
**/build/

# Node.js / Kotlin/Wasm
node_modules/
kotlin-js-store/
yarn.lock
package.json
package-lock.json

